<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Logger4Net" type="Logger4Net.Config.Log4NetConfigurationSectionHandler,Logger4Net"/>
  </configSections>
  <Logger4Net>
    <appender name="ConsoleAppender" type="Logger4Net.Appender.ConsoleAppender">
      <layout type="Logger4Net.Layout.PatternLayout">
        <conversionPattern value="%m%n"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="Logger4Net.Appender.RollingFileAppender,Logger4Net">
      <param name="File" value="log\root.log"/>
      <param name="AppendToFile" value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaximumFileSize" value="500kB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="Logger4Net.Layout.PatternLayout,Logger4Net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="ErrorRollingLogFileAppender" type="Logger4Net.Appender.RollingFileAppender,Logger4Net">
      <param name="File" value="log\error.log"/>
      <param name="AppendToFile" value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaximumFileSize" value="500kB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <filter type="Logger4Net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="ERROR"/>
      </filter>
      <layout type="Logger4Net.Layout.PatternLayout,Logger4Net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="ErrorRollingLogFileAppender"/>
    </root>
  </Logger4Net>
  <appSettings>
    <add key="DBStorageType" value="XML"/>
    <add key="DBConnStr" value="Config"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
